.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: darkblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: deepskyblue;
    color: black;
}

.topnav a.active {
    background-color: aqua;
    color: black;
}

body {
    background-color: lightgray;
}

aside {
    float: right;
    width: 20%;
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    border: #333 solid 1px;
    padding: 20px 16px;
}

aside li {
    list-style-type: none;
    padding: 8px 0;
}

header {
    background-color: navy;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

main {
    display: flex;
}

article {
    border: black solid;
    background-color: white;
    padding: 20px;
    text-align: center;
    margin: 20px;
}

article img {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}

.small-image {
    width: 100px;
    border: #333 solid 1px;
    margin: 5px;
}

.big-image {
    width: 300px;
    border: red solid 3px;
    margin: 5px;
}

#boj {
    border: yellow solid;

}

#yum {
    border: red solid;

}

#pizza {
    border: blue solid;

}

#intro {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    margin: 20px;
    border: #333 solid;
}