.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: darkblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: deepskyblue;
    color: black;
}

.topnav a.active {
    background-color: aqua;
    color: black;
}

header {
    background-color: navy;
    padding: 20px;
    text-align: center;
    font-size: 24px;
}

body {
    background-color: lightgray;
}

img {
    max-width: 200px;
    margin: 5px;
}

#total-btn {
    background-color: aqua;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 17px;
}

#meal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24px;
}

#my-rec {
    display: flex;
    flex-wrap: wrap;
    background-color: lightgray;
    border: #333 solid;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    width: 40%;
}

#your-plan {
    display: flex;
    background-color: lightgray;
    border: #333 solid;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    width: 40%;
}