.repo_container_list {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    background-color: brown;

    
}

.repo_container_item {
    width: 20%;
    margin: auto;
    background-color: antiquewhite;

    
}

h1 {
    text-align: center;
}