h1 {
    color: #A4A400;
    text-decoration: underline;
    font-family: bold;
    background-color: #F0F0F0;
    font-weight: 22pt;
}

img {
    size: 1024px;
}

hr.solid {
    border-top: 3px solid gray;
  }

p {
    background-color: #F0F0F0;
}