h1 {
    text-align: center;
    color: #A4A400;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #F0F0F0;
    font-weight: 22pt;
    font-size: 22pt;
}

img {
    size: 150px;
}

hr.solid {
    border-top: 3px solid gray;
  }

#p {
    background-color: #F0F0F0;
}

h2 {
    color: #A4A400;
    text-decoration: underline;
    font-family: 'Lucida Sans';
    background-color: #F0F0F0;
    font-size: 18pt;
}

body {
    background-image: url('silverware.jpg');
    color: #404040;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 11pt;
}

ul {
    list-style-image: url('pie_icon.gif');
}

.center {
    margin: auto;
    width: 80%;
    border: 10pt solid #F0F0F0;
    background-color: #A4A400;
    font-style: italic;
}

a {
    color: #A4A400;
    text-align: left;
}

.link {
    width: 200pt;
}

.right-align {
    text-align: right;
    width: 180pt;
    justify-content: left;
}