#h1 {
    color: #A4A400;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #F0F0F0;
}

img {
    size: 1024px;
}

hr.solid {
    border-top: 3px solid gray;
  }